<nav class="red lighten-2">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><span class="red-text text-accent-4">Yelp Clone</span></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><span class="red-text text-accent-4">Home</span></a></li>
        <li><a href="badges.html"><span class="red-text text-accent-4">Write a Review</span></a></li>
        <li><a class="waves-effect waves-light btn red accent-4">Sign In</a></li>
        <li><a class="waves-effect waves-light btn red accent-4">Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>